DATABASE_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
SHIPPING_API_KEY=

# Etapa 3 — integración con apps del ecosistema
BUYER_APP_URL=
BUYER_API_KEY=
SELLER_APP_URL=
SELLER_API_KEY=
